body{
    background-color: antiquewhite;/* element selector*/
}

h1{
   
    background-color: rgba(22, 188, 200, 0.573);
    color: rgb(238, 23, 188);
    /* element selector*/
}
/*ul{color: rgb(111, 5, 5);
}*/

.change-font-size{
font-size: 5px;
}
/* this is class selector*/

h4{
    color: beige;
    font-size: 20px;
    align-items: center;

}
